.header {
	margin-bottom: 1rem;
}

.filter-placeholder, .clear-filter {
	margin: 1rem 0;
}

.truck {
	margin-bottom: 1rem;
}

.yelp-widget {
	padding: 2rem;
	border: 1px solid #eee;
	border-radius: 10px;
}