.footer {
	background-color: $medium-green;
	height: $footer-height;
	font-size: 1.6rem;
	color: white;
	border-top: 1px solid white;
}

.footer-wrapper {
	margin-top: 1.5rem;

	.copyright {
		img {
			max-width: 50px;
			margin-right: 2.5rem;
		}
	}

	.feedback-wrapper {
		a {
			color: white;

			&:hover {
				color: $hover-link-color;
			}
		}
	}
	.feedback-text {
		padding-right: 1rem;
	}

	.feedback-icon {
		font-size: 2.8rem;
		position: absolute;
		top: -0.5rem;
	}
}

ul.sitemap {
	li {
		display: inline-block;
		padding: 0 2rem;
	}
}

.social-media {
	> li {
		margin-top: -7px;
		margin-bottom: 0;
		display: inline-block;
		font-size: 2.8rem;
		padding: 0 1rem;
	}
}