.navbar {
	min-height: $navbar-height;
	margin-bottom: 0;
	background-color: $navbar-background;
	border-bottom: 1px solid white;
}

.navbar-brand {
	height: $navbar-height;

	&:hover {
		cursor: pointer;
		background: $green;
	}
}

.navbar-header {
	.logo {
		img {
			max-width: 110px;
		}
	}

	.glyphicon-menu-hamburger {
		font-size: 2rem;
	}
}

.navbar-nav {
	float: right;
	font-size: $nav-link-font-size;
	letter-spacing: 1px;

	@media (min-width: $small-screen) {
		height: $navbar-height;
	}
	
	> li {
		height: 100%;
	}

	li.active a {
		background-color: $navbar-background !important;
		color: $orange;
	}

	li a {
		padding-top: 2rem;
		height: 100%;
		color: $nav-link-color;
		text-transform: uppercase;

		&:hover {
			background-color: $green;

			&:focus {
				background-color: $green;
			}
		}

		&.active {
			background-color: $dark-green;
			color: $nav-link-color;

			&:focus {
				background-color: $dark-green;
				color: $nav-link-color;
			}
		}

		&:focus {
			background-color: $navbar-background;
			color: $nav-link-color;
		}

		span.glyphicon-search {
			top: -1px;
		}
	}
}