@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?yuveun');
    src:    url('../fonts/icomoon.eot?yuveun#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?yuveun') format('truetype'),
        url('../fonts/icomoon.woff?yuveun') format('woff'),
        url('../fonts/icomoon.svg?yuveun#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-burgers:before {
    content: "\e900";
}
.icon-dessert:before {
    content: "\e901";
}
.icon-drinks:before {
    content: "\e902";
}
.icon-healthy:before {
    content: "\e903";
}
.icon-international:before {
    content: "\e904";
}
.icon-local:before {
    content: "\e905";
}
.icon-mexican:before {
    content: "\e906";
}
.icon-pizza:before {
    content: "\e907";
}
.icon-sandwiches:before {
    content: "\e908";
}
.icon-american:before {
    content: "\e909";
}
.icon-asian:before {
    content: "\e90a";
}
.icon-heart:before {
    content: "\f004";
}
.icon-star:before {
    content: "\f005";
}
.icon-star-empty:before {
    content: "\f006";
}
.icon-map-marker:before {
    content: "\f041";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-caret-down:before {
    content: "\f0d7";
}
.icon-caret-up:before {
    content: "\f0d8";
}
.icon-envelope:before {
    content: "\f0e0";
}
.icon-star-half-empty:before {
    content: "\f123";
}
.icon-instagram:before {
    content: "\f16d";
}
.icon-yelp:before {
    content: "\f1e9";
}
.icon-target:before {
    content: "\e90b";
}

