.splash {
	background-color: $splash-background;

	.splash-logo {
		padding-top: 5rem;
		padding-bottom: 3rem;

		img {
			width: 60%;

			@media (min-width: $small-screen) {
				width: 50%;
			}

			@media (min-width: $medium-screen) {
				width: 40%;
			}

			@media (min-width: $large-screen) {
				width: 30%;
			}
		}
	}

	.splash-sub-header {
		margin-top: 0;
		font-family: $body-font;
		font-size: 2rem;
		text-transform: uppercase;
		color: $dark-green;
	}

	.splash-image {
		margin-top: 5rem;
		position: relative;
		display: none;

		@media (min-width: $medium-screen) {
			display: inherit;
			height: 14rem;
			width: 100rem;

			.splash-trucks {
				width: 12rem;
			}
		}

		@media (min-width: $large-screen) {
			width: 120rem;
			height: 16rem;

			.splash-trucks {
				width: 15rem;
			}
		}

		.splash-image-up {
			position: absolute;
			top: 0;
			width: 100%;

			.splash-trucks {
				right: -30%;

				@media (min-width: 1600px) {
					right: -40%;
				}
			}
		}

		.splash-image-bt {
			position: absolute;
			top: 6rem;
			width: 100%;

			.splash-trucks {
				left: -30%;

				@media (min-width: 1500px) {
					left: -40%;
				}

				@media (min-width: 1800px) {
					left: -50%;
				}
			}
		}

		.splash-trucks {
			position: absolute;
		}
	}

	.splash-image-smallscreen {
		margin-top: 5rem;

		@media (min-width: $medium-screen) {
			display: none;
		}

		img {
			max-width: 100%;
		}
	}

	.splash-text {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5rem;
		color: white;
		font-size: 2rem;
	}

	.splash-arrow {
		width: 100%;
		margin-top: 2rem;
    	font-size: 3rem;
    	color: white;
    	opacity: 0.5;
	}
}