.searchbox {
	margin-top: 2rem;
	
	.search-truck {
		font-size: $search-bar-text-size;
		height: 45px;
	}

	#searchclear {
		position: absolute;
		right: 6rem;
		top: 1.1rem;
		font-size: 2.25rem;
		color: $gray;
	}

	.glyphicon-search {
		font-size: 2rem;
		position: absolute;
		top: 1.2rem;
		right: 3rem;
		color: $gray;
	}
}

.the-trucks {
	padding-top: 2rem;
	background-color: $light-blue;

	.the-trucks-header {
		margin-bottom: 2rem;
	}

	.the-trucks-title {
		font-family: $header-font;
		color: $blue;
		text-transform: uppercase;
	}

	.truck-logo {

		margin: 1.5rem 0;

		&:hover {
			a.image-wrapper h3 {
				color: $dark-blue;
			}

			img.truck-image {
				transform: scale(1.08);
			}

		}

		a.image-wrapper {
			width: 100%;
			display: inline-block;
		}

		img.truck-image {
			transition: all .1s;
			max-width: 75%;
		}

		.truck-logo-name {
			color: white;
			margin-top: 1rem;
			font-size: 1.2rem;
			letter-spacing: $truck-list-label-spacing;
			line-height: 1;

			@media (min-width: $small-screen) {
				font-size: $truck-list-label-size;
			}
		}

		&:nth-child(3n+1) {
			clear: both;
		}

		@media (min-width: $small-screen) {
			&:nth-child(3n+1) {
				clear: none;
			}

			&:nth-child(4n+1) {
				clear: both;
			}
		}

		@media (min-width: $large-screen) {
			&:nth-child(3n+1) {
				clear: none;
			}

			&:nth-child(4n+1) {
				clear: none;
			}

			&:nth-child(6n+1) {
				clear: both;
			}
		}
	}

	.view-all-trucks {

		.toggle-truck-list {
			background: $blue;
			color: white;
			font-size: 1.5rem;
			text-transform: uppercase;
			border: none;
			border-radius: 0;
			padding-left: 3rem;
			padding-right: 3rem;
		}

		.toggle-carets {
			top: 0.25rem;
			left: 0.5rem;
		}
	}

	.no-truck-match {
		margin-top: 4rem;
		margin-bottom: 4rem;
		font-size: $no-result-text-size;
		color: $no-result-text-color;
		letter-spacing: $no-result-text-spacing;
	}
}

