.the-trucks {
	padding-top: 2rem;
	background-color: $light-blue;

	.the-trucks-header {
		margin-bottom: 2rem;
	}

	.the-trucks-title {
		font-family: $header-font;
		color: $blue;
		font-weight: bold;
		text-transform: uppercase;
	}

	.truck-logo {

		margin: 1.5rem 0;

		&:hover {
			a.image-wrapper h3 {
				color: $dark-blue;
			}

			img.truck-image {
				transform: scale(1.08);
			}

		}

		a.image-wrapper {
			width: 100%;
			display: inline-block;
		}

		img.truck-image {
			transition: all .1s;
			max-width: 75%;
		}

		h3 {
			color: white;
			margin-top: 1rem;
		}

		@media (min-width: 1200px) {
			&:nth-child(6n+1) {
				clear: both;
			}
		}
	}

	.view-all-trucks {

		.toggle-truck-list:hover {
			cursor: pointer;
		}

		h2 {
			margin-top: 0;
		}

		.toggle-carets {
			top: 0.5rem;
			left: 0.5rem;
		}
	}

	.no-truck-match {
		margin-top: 4rem;
		margin-bottom: 4rem;
		font-size: 2rem;
	}
}

