.the-trucks {
	padding-top: 2rem;
	background-color: $light-blue;

	.the-trucks-title {
		font-family: $header-font;
		color: $blue;
		font-weight: bold;
		text-transform: uppercase;
	}

	.truck-logo {

		margin: 3rem 0;

		a.image-wrapper {
			width: 100%;
			display: inline-block;

			&:hover {
				h3 {
					color: $dark-blue;
				}
			}
		}

		img.truck-frame {
			width: 90%;
		}

		img.truck-image {
			transition: all .1s;
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			top: 0;
			max-width: 75%;

			&:hover {
				transform: scale(1.08);
			}
		}

		h3 {
			color: white;
		}

		@media (min-width: 1200px) {
			&:nth-child(6n+1) {
				clear: both;
			}
		}
	}

	.view-all-trucks {

		.toggle-truck-list:hover {
			cursor: pointer;
		}

		h2 {
			margin-top: 0;
		}

		.toggle-carets {
			top: 0.5rem;
			left: 0.5rem;
		}
	}

	.no-truck-match {
		margin-top: 4rem;
		margin-bottom: 4rem;
		font-size: 2rem;
	}
}

