.truck-illustration {
	background-color: $very-light-gray;
	position: relative;
	padding-bottom: 2rem;

	.large-truck {
		position: relative;
		top: 5rem;
		left: -600px;
		z-index: 2;
		width: 35%;

		img {
			min-width: 100%;
		}
	}

	.truck-name-wrapper {
		color: $dark-green;
		position: absolute;
		top: 6rem;
		width: 50%;
	}

	.truck-name-logo {
		max-width: 10%;
	}

	.truck-name {
		display: inline-block;
		//padding-left: 1rem;
		font-size: 4rem;
		font-weight: bold;
		font-family: $header-font;
		text-transform: uppercase;
	}

	.truck-description {
		width: 80%;
		margin-top: 3rem;
		color: $green;
	}

	.truck-info {
		margin-top: 10rem;
		margin-bottom: 2rem;

		.truck-info-section {
			padding: 2rem 0;

			&:hover {
				background: $medium-green;

				.info-type, .info-image i, .info-type-content {
					color: white;
				}
			}
		}

		.info-type {
			color: $gray;
			text-transform: uppercase;
			font-size: 1.6rem;
			font-weight: bold;
		}

		.info-image {
			padding-top: 3rem;
			padding-bottom: 3rem;
			height: 126px;

			i {
				font-size: 6rem;
				color: $medium-green;
			}
		}

		.info-type-content {
			color: $gray;
			font-size: 1.5rem;
		}
	}

	.foodtype-list {
		display: inline-block;
		padding-left: 1rem;
		padding-right: 1rem;

		.foodtype-icon {
			position: relative;
			top: -0.25rem;
			font-size: 7rem !important;
		}
	}
}

.truck-schedule {
	padding-top: 2rem;
	padding-bottom: 5rem;
	background-color: $pink;
	color: white;

	h1, h5 {
		text-transform: uppercase;
	}

	h1 {
		font-weight: bold;
	}

	h5 {
		color: $dark-blue;
		font-size: 1.6rem;
	}

	.schedule-list {
		padding: 1.2rem 0;
		border-bottom: 1px solid $light-gray;

		.schedule-day {
			font-weight: bold;
			text-transform: uppercase;
			font-size: 1.6rem;
		}

		.schedule-location {
			padding-left: 5rem;

			.glyphicon-map-marker {
				font-size: 3rem;
				color: $dark-pink;
				position: absolute;
				left: 0;
				top: -6px;
			}
		}
	}
}

.menu {
	background-image: url("../img/paper_texture.jpg");
	background-size: cover;
	padding-bottom: 4rem;
	padding-top: 2rem;

	.menu-title {
		color: $pink;
		text-transform: uppercase;
		font-weight: bold;
	}

	h5 {
		color: $dark-blue;
		font-size: 1.6rem;
	}

	.menu-section {
		margin: 3rem 0;
	}

	.menu-type {
		font-size: 3rem;
		font-weight: bold;
		color: $dark-gray;
		text-transform: uppercase;
	}

	.menu-list {
		margin: 1rem 0;
		//height: 90px;
		//
	}

	@media (min-width: 992px) {
		.menu-list:nth-child(odd) {
			clear: left;
		}
	}

	.price {
		color: $red;
		font-size: 2.75rem;
		font-weight: bold;
		letter-spacing: -1px;
	}

	.menu-item {
		font-size: 1.75rem;
		font-weight: bold;
		color: $gray;
		text-transform: uppercase;
		margin-top: 1rem;
		white-space: nowrap;
	}

	.menu-item-description {
		color: $pink;
		font-size: 1.25rem;
	}
}

.instagram {
	// padding-top: 2rem;
	// padding-bottom: 4rem;

	h1 {
		color: $pink;
		text-transform: uppercase;
		font-weight: bold;
	}
}

.featured-truck.truck-page {
	background-image: url("../img/paper_texture.jpg");
}