@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600|Open+Sans+Condensed:300,700);

// Colors
$orange: #f5734b;
$yellow: #fad089;
$green: #469b9d;
$light-blue: #9cc4e4;
$dark-blue: #1b325f;
$gray: #999999;

$light-orange: #f78f6e;

$navbar-background: #fff;

// Typography
$header-font: 'Open Sans Condensed', sans-serif;
$body-font: 'Raleway', sans-serif;


// Measurements
$navbar-height: 60px;
$map-height: 450px;
$map-list-width: 350px;