@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600|Open+Sans+Condensed:300,700);
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?tuaf9k");
  src: url("../fonts/icomoon.eot?tuaf9k#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?tuaf9k") format("truetype"), url("../fonts/icomoon.woff?tuaf9k") format("woff"), url("../fonts/icomoon.svg?tuaf9k#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter:before {
  content: "\f099"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-caret-down:before {
  content: "\f0d7"; }

.icon-caret-up:before {
  content: "\f0d8"; }

.icon-envelope:before {
  content: "\f0e0"; }

.icon-instagram:before {
  content: "\f16d"; }

.icon-yelp:before {
  content: "\f1e9"; }

body {
  font-family: "Raleway", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

body {
  padding-top: 60px; }

ul {
  list-style: none; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.navbar {
  min-height: 60px;
  margin-bottom: 0;
  background-color: #6bc2bb;
  border-bottom: 1px solid white; }

.navbar-brand {
  height: 60px; }
  .navbar-brand:hover {
    cursor: pointer; }

.navbar-header .logo img {
  max-width: 65px; }
.navbar-header .glyphicon-menu-hamburger {
  font-size: 2rem; }

.navbar-nav {
  float: right;
  height: 60px;
  font-size: 2rem;
  letter-spacing: 1px; }
  .navbar-nav > li {
    height: 100%; }
  .navbar-nav li.active a {
    background-color: #6bc2bb !important;
    color: #f5734b; }
  .navbar-nav li a {
    padding-top: 2rem;
    height: 100%;
    color: #fff;
    text-transform: uppercase; }
    .navbar-nav li a:hover {
      background-color: #469b9d; }
      .navbar-nav li a:hover:focus {
        background-color: #469b9d; }
    .navbar-nav li a.active {
      background-color: #009193;
      color: #fff; }
      .navbar-nav li a.active:focus {
        background-color: #009193;
        color: #fff; }
    .navbar-nav li a:focus {
      background-color: #6bc2bb;
      color: #fff; }
    .navbar-nav li a span.glyphicon-search {
      top: -1px; }

.splash {
  height: 520px;
  background-color: #76c7c0; }
  .splash .splash-header, .splash .splash-sub-header {
    text-transform: uppercase;
    color: #009193; }
  .splash .splash-header {
    margin-top: 5.5rem;
    font-weight: bold;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 5rem; }
  .splash .splash-sub-header {
    margin-top: 0;
    font-family: "Raleway", sans-serif;
    font-size: 2rem; }
  .splash .splash-image {
    margin-top: 5rem; }
    .splash .splash-image img {
      max-width: 100%; }
  .splash .splash-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    color: white;
    font-size: 1.8rem; }
  .splash .splash-arrow {
    width: 100%;
    margin-top: 2rem;
    font-size: 3rem;
    color: white;
    opacity: 0.5; }

.find-trucks {
  padding-top: 4rem; }

.searchbox .search-truck {
  font-size: 2rem;
  height: 45px; }
.searchbox #searchclear {
  position: absolute;
  right: 6rem;
  top: 1.1rem;
  font-size: 2.25rem;
  color: #999999; }
.searchbox .glyphicon-search {
  font-size: 2rem;
  position: absolute;
  top: 1.2rem;
  right: 3rem;
  color: #999999; }

.filter-wrapper {
  position: absolute;
  z-index: 2;
  margin-left: 350px;
  padding-left: 10px;
  padding-right: 10px;
  width: calc(100% - 400px); }

.filter {
  margin-top: 1rem; }

.filter-dropdown {
  margin-bottom: 1rem; }
  .filter-dropdown .dropdown-wrapper {
    position: relative; }
  .filter-dropdown .dropdown-caret {
    position: absolute;
    color: white;
    z-index: 9;
    font-size: 2rem;
    top: 7px;
    right: 16px; }
  .filter-dropdown .filter-button, .filter-dropdown .dropdown-toggle {
    width: 100%;
    padding: 6px 20px;
    background-color: #446cb3;
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    border-radius: 0;
    border: none;
    text-align: center; }
    .filter-dropdown .filter-button .filter-select, .filter-dropdown .dropdown-toggle .filter-select {
      background-color: #446cb3;
      border: none; }
    .filter-dropdown .filter-button .select-option, .filter-dropdown .dropdown-toggle .select-option {
      background-color: #446cb3; }
    .filter-dropdown .filter-button .caret, .filter-dropdown .dropdown-toggle .caret {
      display: none; }
  .filter-dropdown .btn-group.open .dropdown-toggle {
    background-color: #446cb3;
    box-shadow: none;
    color: white; }
  .filter-dropdown .dropdown-menu.open {
    padding: 0; }
  .filter-dropdown .filter-dropdown-menu, .filter-dropdown .dropdown-menu {
    background-color: #446cb3;
    color: white;
    width: 100%;
    border-radius: 0; }
    .filter-dropdown .filter-dropdown-menu > li:hover, .filter-dropdown .dropdown-menu > li:hover {
      cursor: pointer;
      background-color: #1b325f; }
    .filter-dropdown .filter-dropdown-menu > li a, .filter-dropdown .dropdown-menu > li a {
      color: inherit;
      background-color: inherit;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-size: 1.4rem; }
      .filter-dropdown .filter-dropdown-menu > li a:focus, .filter-dropdown .dropdown-menu > li a:focus {
        outline: none; }

.map-wrapper {
  margin-top: 2rem; }
  .map-wrapper .leaflet-popup-content {
    line-height: 1; }
    .map-wrapper .leaflet-popup-content h2 {
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 1rem; }
    .map-wrapper .leaflet-popup-content h4 {
      font-family: "Raleway", sans-serif;
      margin-bottom: 0;
      font-size: 1.3rem; }
    .map-wrapper .leaflet-popup-content h5 {
      font-family: "Raleway", sans-serif;
      margin-top: 1rem;
      color: #f46161; }

.map-list {
  position: absolute;
  height: 500px;
  width: 330px;
  z-index: 2;
  background-color: #C5EFF7;
  -ms-transform: translateX(-280px);
  /* IE 9 */
  -webkit-transform: translateX(-280px);
  /* Safari */
  transform: translateX(-280px);
  transition: all 0.5s; }
  .map-list.active {
    -ms-transform: translateX(0);
    /* IE 9 */
    -webkit-transform: translateX(0);
    /* Safari */
    transform: translateX(0); }
    .map-list.active .scroll-list {
      pointer-events: auto; }
  .map-list .toggle-list {
    position: relative;
    padding-left: 2rem;
    z-index: 2;
    height: 55px; }
    .map-list .toggle-list .find-food {
      font-size: 2.6rem;
      padding: 1rem 0;
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: #446cb3; }
    .map-list .toggle-list .toggle-list-button {
      position: absolute;
      right: 1rem;
      top: 1.2rem;
      font-size: 3rem;
      color: #446cb3; }
      .map-list .toggle-list .toggle-list-button:hover {
        cursor: pointer;
        color: #1b325f; }
  .map-list .scroll-list {
    position: relative;
    overflow-y: scroll;
    height: 445px;
    pointer-events: none; }
  .map-list .map-truck-list {
    margin-left: -1rem;
    padding-left: 0; }
    .map-list .map-truck-list > li {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      transition: all 0.2s;
      color: #1b325f; }
      .map-list .map-truck-list > li:hover {
        background-color: #1b325f;
        color: white;
        cursor: pointer; }
      .map-list .map-truck-list > li.active .glyphicon-ok {
        display: inherit; }
      .map-list .map-truck-list > li .glyphicon-ok {
        display: none;
        position: absolute;
        font-size: 2rem;
        right: 1.25rem;
        top: 2rem; }
    .map-list .map-truck-list .truck-icon {
      font-size: 2.5rem;
      color: #446cb3; }
    .map-list .map-truck-list .truck-name {
      font-size: 1.7rem;
      padding-left: 0;
      text-decoration: underline; }
    .map-list .map-truck-list .truck-foodtype, .map-list .map-truck-list .truck-review {
      font-size: 1.2rem;
      color: #999999; }
    .map-list .map-truck-list .truck-foodtype {
      padding-left: 0; }

#map {
  width: 100%;
  height: 500px; }

.mapbox-logo {
  display: none; }

.the-trucks {
  padding-top: 2rem;
  background-color: #9cc4e4; }
  .the-trucks .the-trucks-title {
    font-family: "Open Sans Condensed", sans-serif;
    color: #446cb3;
    font-weight: bold;
    text-transform: uppercase; }
  .the-trucks .truck-logo {
    margin: 3rem 0; }
    .the-trucks .truck-logo a.image-wrapper {
      width: 100%;
      display: inline-block; }
      .the-trucks .truck-logo a.image-wrapper:hover h3 {
        color: #1b325f; }
    .the-trucks .truck-logo img.truck-image {
      transition: all .1s;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0; }
      .the-trucks .truck-logo img.truck-image:hover {
        transform: scale(1.08); }
    .the-trucks .truck-logo h3 {
      color: white; }
  .the-trucks .view-all-trucks .toggle-truck-list:hover {
    cursor: pointer; }
  .the-trucks .view-all-trucks h2 {
    margin-top: 0; }
  .the-trucks .view-all-trucks .toggle-carets {
    top: 0.5rem;
    left: 0.5rem; }

.featured-truck {
  padding-top: 2rem;
  padding-bottom: 5rem; }
  .featured-truck .featured-truck-title {
    font-family: "Open Sans Condensed", sans-serif;
    color: #446cb3;
    font-weight: bold;
    text-transform: uppercase;
    color: #ef7271; }
  .featured-truck .content-wrapper {
    margin-top: 5rem; }
  .featured-truck .featured-text p {
    font-size: 1.64rem; }
  .featured-truck .featured-highlight {
    margin-top: 3rem; }
    .featured-truck .featured-highlight h1 {
      text-transform: uppercase;
      font-weight: bold;
      color: #ef7271;
      margin: 0;
      opacity: 0.7; }
    .featured-truck .featured-highlight .large-number {
      font-size: 16rem;
      opacity: 1;
      line-height: 0.9; }
    .featured-truck .featured-highlight .large-text {
      font-size: 4.5rem; }
    .featured-truck .featured-highlight .medium-text {
      font-size: 3.8rem; }
  .featured-truck .featured-image img {
    max-width: 100%; }
  .featured-truck .featured-quote {
    margin-top: 5rem; }
    .featured-truck .featured-quote .quote-body, .featured-truck .featured-quote .quote-mark {
      font-family: "Open Sans Condensed", sans-serif;
      text-transform: uppercase;
      color: #ef7271;
      font-size: 3rem;
      font-weight: bold;
      opacity: 0.9; }
    .featured-truck .featured-quote .quote-mark {
      font-size: 12rem;
      line-height: 0.6; }
    .featured-truck .featured-quote .quote-credit {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 2rem; }

.about {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #76c7c0; }
  .about h1 {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #009193;
    margin-bottom: 5rem; }
  .about .about-wrapper {
    padding-bottom: 5rem; }
    .about .about-wrapper .about-text {
      font-size: 1.5rem;
      color: white; }
  .about .contact-wrapper {
    padding-bottom: 5rem; }
    .about .contact-wrapper .contact-form input, .about .contact-wrapper .contact-form textarea {
      padding: 1rem;
      margin-bottom: 2rem;
      width: 100%;
      border-radius: 0; }
    .about .contact-wrapper .contact-form .name-field {
      padding-left: 0; }
    .about .contact-wrapper .contact-form .email-field {
      padding-right: 0; }

.footer {
  background-color: #6bc2bb;
  height: 50px;
  font-size: 1.6rem;
  color: white;
  border-top: 1px solid white; }

.footer-wrapper {
  margin-top: 1.5rem; }
  .footer-wrapper .copyright img {
    max-width: 50px;
    margin-right: 2.5rem; }

ul.sitemap li {
  display: inline-block;
  padding: 0 2rem; }

ul.social-media {
  margin-top: -7px;
  margin-bottom: 0; }
  ul.social-media > li {
    display: inline-block;
    font-size: 2.8rem;
    padding: 0 1rem; }

.truck-illustration {
  background-color: #f3f3f3;
  position: relative;
  padding-bottom: 2rem; }
  .truck-illustration .large-truck {
    position: relative;
    top: 5rem;
    left: -600px;
    z-index: 2;
    width: 35%; }
    .truck-illustration .large-truck img {
      min-width: 100%; }
  .truck-illustration .truck-name-wrapper {
    color: #009193;
    position: absolute;
    top: 6rem;
    width: 50%; }
  .truck-illustration .truck-name-logo {
    max-width: 10%; }
  .truck-illustration .truck-name {
    display: inline-block;
    padding-left: 1rem;
    font-size: 4rem;
    font-weight: bold;
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: uppercase; }
  .truck-illustration .truck-description {
    width: 80%;
    margin-top: 3rem;
    color: #469b9d; }
  .truck-illustration .truck-info {
    margin-top: 10rem;
    margin-bottom: 2rem; }
    .truck-illustration .truck-info .truck-info-section {
      padding: 0; }
    .truck-illustration .truck-info .info-type {
      color: #999999;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: bold;
      border-bottom: 1px solid #f78f8f; }
    .truck-illustration .truck-info .info-image {
      margin-top: 2rem;
      height: 120px; }
      .truck-illustration .truck-info .info-image img {
        max-width: 50%; }
      .truck-illustration .truck-info .info-image i, .truck-illustration .truck-info .info-image span {
        font-size: 9rem;
        color: #f78f8f; }
    .truck-illustration .truck-info .info-type-content {
      color: #999999;
      font-size: 1.5rem; }

.truck-schedule {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #f78f8f;
  color: white; }
  .truck-schedule h1, .truck-schedule h5 {
    text-transform: uppercase; }
  .truck-schedule h1 {
    font-weight: bold; }
  .truck-schedule h5 {
    color: #1b325f;
    font-size: 1.6rem; }
  .truck-schedule .schedule-list {
    padding: 1.2rem 0;
    border-bottom: 1px solid #dddddd; }
    .truck-schedule .schedule-list .schedule-day {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.6rem; }
    .truck-schedule .schedule-list .schedule-location {
      padding-left: 5rem; }
      .truck-schedule .schedule-list .schedule-location .glyphicon-map-marker {
        font-size: 3rem;
        color: #f46161;
        position: absolute;
        left: 0;
        top: -6px; }

.menu {
  background-image: url("../img/paper_texture.jpg");
  background-size: cover;
  padding-bottom: 4rem;
  padding-top: 2rem; }
  .menu .menu-title {
    color: #f78f8f;
    text-transform: uppercase;
    font-weight: bold; }
  .menu h5 {
    color: #1b325f;
    font-size: 1.6rem; }
  .menu .menu-section {
    margin: 3rem 0; }
  .menu .menu-type {
    font-size: 3rem;
    font-weight: bold;
    color: #666666;
    text-transform: uppercase; }
  .menu .menu-list {
    margin: 1rem 0; }
  @media (min-width: 992px) {
    .menu .menu-list:nth-child(odd) {
      clear: left; } }
  .menu .price {
    color: #ef7271;
    font-size: 2.75rem;
    font-weight: bold;
    letter-spacing: -1px; }
  .menu .menu-item {
    font-size: 1.75rem;
    font-weight: bold;
    color: #999999;
    text-transform: uppercase;
    margin-top: 1rem;
    white-space: nowrap; }
  .menu .menu-item-description {
    color: #f78f8f;
    font-size: 1.25rem; }

.instagram {
  padding-top: 2rem;
  padding-bottom: 4rem; }
  .instagram h1 {
    color: #f78f8f;
    text-transform: uppercase;
    font-weight: bold; }

.featured-truck.truck-page {
  background-image: url("../img/paper_texture.jpg"); }

/*# sourceMappingURL=style.css.map */
