<nav class="navbar navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			</button>
			<div class="navbar-brand logo" ng-click="toTheTop()">
				<img alt="brand-logo" src="img/sitelogo.png">
				<!-- 				<div class="brand-name"><span>CHEW</span>boston</div> -->
			</div>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="#find-food" du-smooth-scroll du-scrollspy offset="60">Find Food</a></li>
				<li><a href="#the-trucks" du-smooth-scroll du-scrollspy offset="60">The Trucks</a></li>
				<li><a href="#featured" du-smooth-scroll du-scrollspy offset="60">Featured</a></li>
				<li><a href="#about" du-smooth-scroll du-scrollspy offset="60">About</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="splash" id="splash">
	<div class="container">
		<h1 class="text-center splash-header">{{appTitle}}</h1>
		<h3 class="text-center splash-sub-header">{{appLocation}}</h3>
		<div class="text-center splash-image">
			<img src="img/splash-trucks.png" alt="splash-trucks">
		</div>
		<div class="text-center splash-text">
			{{splashText}}
		</div>
		<div class="splash-arrow text-center">
			<a href="#find-food" du-smooth-scroll du-scrollspy offset="60">
				<span class="glyphicon glyphicon-chevron-down"></span>
			</a>
		</div>
	</div>
</div>

<div id="container" du-scroll-container>
	<div class="find-trucks" id="find-food" ng-controller="MainController">
		<div class="container">
			<div class="row">
				<div class="searchbox col-sm-6 col-sm-offset-3">
					<input class="form-control search-truck" placeholder="{{searchPlaceholder}}" ng-model="searchText">
					<span id="searchclear" class="glyphicon glyphicon-remove-circle" ng-click="searchText=undefined"></span>
					<span class="glyphicon glyphicon-search"></span>
				</div>
			</div>
		</div>
		<div class="map-wrapper">
			<div class="map-list" ng-class="{'active':mapListActive}">
				<div class="toggle-list">
					<div class="find-food">{{findFoodTitle}}</div>
					<span class="glyphicon toggle-list-button" ng-click="toggleMapList()" ng-class="{'glyphicon-circle-arrow-left': mapListActive, 'glyphicon-circle-arrow-right':!mapListActive}"></span>
				</div>
				<div class="scroll-list">
					<ul class="map-truck-list">
						<li class="col-xs-12" ng-repeat="truck in markers_trucklist | unique: 'truck_name'" ng-click="selectTruck(truck)" ng-class="{'active':contains(truckFilter, truck.truck_route)}">
<!-- 						ng-mouseover="highlightMarkers(truck)" -->
							<div class="truck-icon col-xs-2">
								<span class="glyphicon glyphicon-map-marker"></span>
							</div>
							<div class="truck-name col-xs-10">
								{{truck.truck_name}}
							</div>
							<div class="truck-foodtype col-xs-5">
								{{truck.food_type}}
							</div>
							<div class="truck-review col-xs-5">
								<span ng-repeat="n in [1, 2, 3, 4, 5]">	
									<i class="icon-star" ng-if="truck.yelp_rating>=n"></i>
									<i class="icon-star-half-empty" ng-if="truck.yelp_rating<n&&truck.yelp_rating>=(n-0.5)"></i>
									<i class="icon-star-empty" ng-if="truck.yelp_rating<(n-0.5)"></i>
								</span>
							</div>
							<span class="glyphicon glyphicon-ok"></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="filter-wrapper">
				<div class="row filter">
					<div class="dropdown filter-dropdown col-xs-6 col-md-3">
						<div class="dropdown-wrapper">
							<span class="icon-caret-down dropdown-caret"></span>
							<ol id="dynamic-options" class="nya-bs-select col-xs-12" ng-model="dayFilter" title="Day" multiple>
								<li nya-bs-option="day in dayOfWeek">
									<a>	{{ day }}
										<span class="glyphicon glyphicon-ok check-mark"></span>
									</a>
								</li>
							</ol>
						</div>
					</div>
					<div class="dropdown filter-dropdown col-xs-6 col-md-3">
						<div class="dropdown-wrapper">
							<span class="icon-caret-down dropdown-caret"></span>
							<ol id="dynamic-options" class="nya-bs-select col-xs-12" ng-model="timeFilter" title="Time" multiple>
								<li nya-bs-option="time in timeOfDay">
									<a>	{{ time }}
										<span class="glyphicon glyphicon-ok check-mark"></span>
									</a>
								</li>
							</ol>
						</div>
					</div>
					<div class="dropdown filter-dropdown col-xs-6 col-md-3">
						<div class="dropdown-wrapper">
							<span class="icon-caret-down dropdown-caret"></span>
							<ol id="dynamic-options" class="nya-bs-select col-xs-12" ng-model="foodTypeFilter" title="Food Type" multiple>
								<li nya-bs-option="type in foodtype">
									<a>	{{ type }}
										<span class="glyphicon glyphicon-ok check-mark"></span>
									</a>
								</li>
							</ol>
						</div>
					</div>
					<div class="dropdown filter-dropdown col-xs-6 col-md-3">
						<div class="dropdown-wrapper">
							<span class="icon-caret-down dropdown-caret"></span>
							<ol id="dynamic-options" class="nya-bs-select col-xs-12" ng-model="neighborhoodFilter" title="Neighborhood" multiple>
								<li nya-bs-option="neighbor in neighborhood">
									<a>	{{ neighbor }}
										<span class="glyphicon glyphicon-ok check-mark"></span>
									</a>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<leaflet id='map' lf-center="mapCenter" defaults="defaults" markers="markers"></leaflet>
		</div>
	</div>
	<div class="the-trucks" id="the-trucks" ng-controller="MainController">
		<div class="container">
			<h1 class="the-trucks-title">{{truckListTitle}}</h1>
			<div class="row">
				<div class="truck-logo col-xs-6 col-md-3" ng-repeat="truck in alltrucks | limitTo:8">
					<a href="#{{truck.route_name}}" class="image-wrapper text-center">
						<img src="img/trucks/bg.png" class="truck-frame" />
						<img ng-src="img/trucks/{{truck.truck_color}}.png" class="truck-image" />
						<h3 class="text-center">{{truck.name}}</h3>
					</a>
				</div>
			</div>
			<div class="row" uib-collapse="isCollapsed">
				<div class="truck-logo col-xs-6 col-md-3" ng-repeat="truck in alltrucks | limitTo:30:8">
					<a href="#{{truck.route_name}}" class="image-wrapper text-center">
						<img src="img/trucks/bg.png" class="truck-frame" />
						<img ng-src="img/trucks/{{truck.truck_color}}.png" class="truck-image" />
						<h3 class="text-center">{{truck.name}}</h3>
					</a>
				</div>
			</div>
			<div class="view-all-trucks">
				<a class="toggle-truck-list text-center" ng-click="isCollapsed = !isCollapsed">
					<h2 ng-show="isCollapsed">View More<span class="glyphicon glyphicon-chevron-down toggle-carets"></span></h2>
					<h2 ng-show="!isCollapsed">View Less<span class="glyphicon glyphicon-chevron-up toggle-carets"></span></h2>		
				</a>
			</div>
		</div>
	</div>
	<div class="featured-truck" id="featured">
		<div class="container">
			<h1 class="featured-truck-title">Featured: Roxy's Grilled Cheese</h1>
			<div class="row content-wrapper">
				<div class="col-xs-12 col-md-4 featured-text">
					<p>Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo. Augue et rutrum condimentum, libero lectus mattis orci, ut commodo.  Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo. Augue et rutrum condimentum, libero lectus mattis orci, ut commodo. </p>
					<p>Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo. Augue et rutrum condimentum, libero lectus mattis orci, ut commodo.  Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo. Augue et rutrum condimentum, libero lectus mattis.</p>
				</div>
				<div class="col-xs-12 col-md-4 featured-highlight">
					<h1 class="text-center large-text">On average</h1>
					<h1 class="text-center large-number">780</h1>
					<h1 class="text-center large-text">Sandwiches</h1>
					<h1 class="text-center medium-text">sold per week</h1>
				</div>
				<div class="col-xs-12 col-md-4 featured-image">
					<img src="img/cheese.png" alt="">
				</div>
			</div>
			<div class="row featured-quote">
				<div class="col-xs-3 quote-mark text-right">
					&#8220;
				</div>
				<div class="col-xs-6 quote-body text-center">
					We make the best grilled cheese sandwiches in all of boston, ever, ever
				</div>
				<div class="col-xs-3 quote-mark">
					&#8221;
				</div>
				<div class="col-xs-12 text-center quote-credit">
					CEO John Smith Sanders
				</div>
			</div>
		</div>
	</div>
	<div class="about" id="about">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6 about-wrapper">
					<h1>About</h1>
					<div class="about-text">
						Northeastern University capstone group project lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur urna enim, a tempus arcu eleifend ut. Maecenas pretium, enim ut rhoncus feugiat, nibh eros lobortis magna, nec scelerisque quam nulla id urna. Quisque at blandit diam. Sed congue dolor quis massa sagittis, in facilisis arcu sollicitudin. Pellentesque est massa, molestie nec iaculis non, cursus id tortor. Curabitur quis felis accumsan, ullamcorper augue sed, aliquet mauris. Sed a lorem et sapien semper hendrerit et ac turpis. Duis sagittis ac nunc ut pulvinar. Maecenas vitae viverra velit, ac maximus sapien. Sed convallis augue eget massa feugiat, consequat placerat sem dignissim. Nulla lobortis molestie fringilla. Etiam dictum in urna gravida tempor. Pellentesque scelerisque nec enim quis rhoncus.
					</div>
				</div>
				<div class="col-xs-12 col-md-6 contact-wrapper">
					<h1>Contact</h1>
					<form class="contact-form">
						<div class="name-field col-xs-12 col-md-6">
							<input type="text" placeholder="NAME">
						</div>
						<div class="email-field col-xs-12 col-md-6">
							<input type="text" placeholder="EMAIL">
						</div>
						<textarea class="form-control" rows="6" placeholder="MESSAGE"></textarea>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>