<nav class="navbar navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			</button>
			<a class="navbar-brand logo" href="#/">
				<img alt="brand-logo" src="img/sitelogo.png">
				<!-- 				<div class="brand-name"><span>CHEW</span>boston</div> -->
			</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="#overview" du-smooth-scroll du-scrollspy offset="60">About</a></li>
				<li><a href="#menu" du-smooth-scroll du-scrollspy offset="60" ng-show="menu[0].menu_item[0]">Menu</a></li>
				<li><a href="#schedule" du-smooth-scroll du-scrollspy offset="60" ng-show="schedule[0]">Schedule</a></li>
				<li><a href="#instagram" du-smooth-scroll du-scrollspy offset="60" ng-show="truck.instagram_iframe">Photos</a></li>
				<li><a href="#more" du-smooth-scroll du-scrollspy offset="60">More</a></li>
				<li><a href="#map" du-smooth-scroll du-scrollspy offset="60" ng-show="showMap">Map</a></li>
			</ul>
		</div>
	</div>
</nav>


	<div class="truck-illustration" id="overview">
		<div class="container">
			<div class="large-truck">
				<img src="img/food_truck.svg" alt="" ng-hide="truck.large_image" />
				<img class="truck-large-image" ng-src="img/truck_graphics/{{truck.large_image}}" alt="" ng-show="truck.large_image" />
			</div>
			<div class="truck-name-wrapper">
<!-- 				<img ng-src="img/logos/{{truck.logo}}" class="truck-name-logo" alt="" ng-show="truck.logo"> -->
				<div class="truck-name">{{truck.name}}</div>
				<div class="truck-description">
					{{truck.description}}
					<!-- TODO: remove lipsum description -->
					<div ng-hide="truck.description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut lacinia libero. Cras orci lectus, sagittis quis nisi vitae, molestie lacinia est. Duis libero nisi, eleifend vitae felis eget, elementum placerat arcu. Vestibulum iaculis nisi eros, at cursus neque mattis et. Proin diam erat, viverra in risus sit amet, iaculis pulvinar purus. Integer auctor elit at mollis gravida. Morbi posuere urna et nisi euismod tincidunt. Vestibulum ac consequat arcu.</div>
					<div ng-show="truck.website" class="truck-website">
						<a href="{{truck.website}}" target="_blank">{{truck.website}}</a>
					</div>
				</div>
				<div class="truck-sociallinks">
					<a href="https://www.facebook.com/{{truck.facebook}}" target="_blank" ng-show="truck.facebook">
						<i class="icon-facebookcircle"></i>
					</a>
					<a href="https://twitter.com/{{truck.twitter}}" target="_blank" ng-show="truck.twitter">
						<i class="icon-twittercircle"></i>
					</a>
					<a href="https://www.instagram.com/{{truck.instagram}}" target="_blank" ng-show="truck.instagram">
						<i class="icon-instacircle"></i>
					</a>
					<a href="https://www.yelp.com/biz/{{truck.yelp}}" target="_blank" ng-show="truck.yelp">
						<i class="icon-yelpcircle"></i>
					</a>
				</div>
			</div>
			<div class="row truck-info">
				<a href="#menu" du-smooth-scroll du-scrollspy offset="60" ng-class="{'disabled-link':!menu[0].menu_item[0]}">
				<div class="col-xs-12 col-sm-6 col-md-3 truck-info-section">
					<div class="info-type text-center">Type</div>
					<div class="text-center">
						<li ng-repeat="foodtype in truck.food_type" class="foodtype-list">
							<div class="info-image text-center">
								<i class="{{foodtype.typeicon}} foodtype-icon"></i>
							</div>
							<div class="info-type-content text-center">
								{{foodtype.typename}}
							</div>
						</li>
					</div>
				</div></a>
				<a href="https://www.yelp.com/biz/{{truck.yelp}}" target="_blank" ng-class="{'disabled-link':!truck.yelp}" ng-click="disableDefault()"><div class="col-xs-12 col-sm-6 col-md-3 truck-info-section">
					<div class="info-type text-center">Ratings</div>
					<div class="info-image text-center">
						<i class="icon-yelp"></i>
					</div>
					<div class="info-type-content text-center">
<!-- 						2425 Reviews -->
						<span ng-repeat="n in [1, 2, 3, 4, 5]">	
							<i class="icon-star" ng-if="truck.yelp_rating>=n"></i>
							<i class="icon-star-half-empty" ng-if="truck.yelp_rating<n&&truck.yelp_rating>=(n-0.5)"></i>
							<i class="icon-star-empty" ng-if="truck.yelp_rating<(n-0.5)"></i>
						</span>
					</div>
				</div></a>
				<a href="#menu" du-smooth-scroll du-scrollspy offset="60" ng-class="{'disabled-link':!menu[0].menu_item[0]}"><div class="col-xs-12 col-sm-6 col-md-3 truck-info-section">
					<div class="info-type text-center">Popular Item</div>
					<div class="info-image text-center">
						<i class="icon-heart"></i>
					</div>
					<div class="info-type-content text-center">{{truck.popular_dish}}</div>
					<div class="info-type-content text-center" ng-show="!truck.popular_dish">Lorem ipsum</div>
				</div></a>
				<a href="#map" du-smooth-scroll du-scrollspy offset="60"><div class="col-xs-12 col-sm-6 col-md-3 truck-info-section current-location" ng-class="{'multiple-location':currentLocation.length>1}">
					<div class="info-type text-center">Current Location</div>
					<div class="info-image text-center">
						<i class="icon-location"></i>
					</div>
					<div class="info-type-content text-center" ng-show="currentLocation.length==0">Closed</div>
					<div class="info-type-content text-center" ng-show="currentLocation.length>0">
						<div>{{currentLocation[0].location}}&nbsp;&nbsp;&nbsp;<span>{{currentLocation[0].time_format}}</span>&nbsp;&nbsp; <span ng-show="currentLocation.length > 1">({{currentLocation.length-1}} More)</span></div>
						
					</div>
					<!-- <div class="info-section-hover" ng-show="currentLocation.length>1">
						<div class="info-section-hover-list-wrapper">
							<div class="info-section-hover-list text-center" ng-repeat="cs in currentLocation">
								<div>{{cs.location}}&nbsp;&nbsp;&nbsp;<span>{{cs.time_format}}</span></div>
							</div>
						</div>
					</div> -->
				</div></a>
			</div>
		</div>
	</div>
<div id="container" du-scroll-container>
	<div class="menu" ng-show="menu[0].menu_item[0]" id="menu">
		<div class="container">
			<h1 class="menu-title">Menu</h1>
			<h5>(Subject to change)</h5>
			<div class="menu-section" ng-repeat="amenu in menu">
				<div class="menu-type col-xs-12" ng-show="amenu.type_name">
					{{amenu.type_name}}
				</div>
				<div class="row">
					<div class="menu-list col-xs-12 col-md-6" ng-repeat="item in amenu.menu_item">
						<div class="price col-xs-2" ng-show="item.price">
							${{item.price}}
						</div>
						<div class="menu-item col-xs-10">
							{{item.name}}
						</div>
						<div class="menu-item-description" ng-class="{'col-xs-10' : item.price, 'col-xs-12': !item.price }">
							{{item.description}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="truck-schedule" id="schedule" ng-show="schedule[0]">
		<div class="container">
			<h1>Schedule</h1>
			<h5>(Subject to change)</h5>
			<div class="schedule col-md-10 col-md-offset-1">
				<div class="row schedule-list" ng-repeat="sche in schedule">
					<div class="col-xs-3 schedule-day">{{sche.day_format}}</div>
					<div class="col-xs-6 schedule-location"><span class="glyphicon glyphicon-map-marker"></span>{{sche.location}}</div>
					<div class="col-xs-3 schedule-time">{{sche.time_format}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="instagram" id="instagram" ng-show="truck.instagram_iframe">
		<script src="//lightwidget.com/widgets/lightwidget.js"></script>
<!-- 		<script src="//instansive.com/widget/js/instansive.js"></script> -->
		<div ng-bind-html="instagram_embed"></div>
	</div>
	<div class="featured-truck truck-page" id="more">
		<div class="container">
			<div class="row content-wrapper">
				<div class="col-xs-12 col-md-4 featured-text" ng-show="truck.twitter_widget_id">
				<a ng-show="truck.twitter_widget_id" class="twitter-timeline" href="https://twitter.com/{{truck.twitter}}" data-widget-id="{{truck.twitter_widget_id}}" data-chrome="noheader nofooter noborders">Tweets by @{{truck.twitter}}</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
				<div class="col-xs-12 col-md-4 featured-image" ng-hide="truck.twitter_widget_id">
					<img src="img/truck_food/{{truck.food_image_2}}" alt="">
				</div>
				<div class="col-xs-12 col-md-4 featured-highlight">
					<!-- <h1 class="text-center large-text">On average</h1>
					<h1 class="text-center large-number">780</h1>
					<h1 class="text-center large-text">Sandwiches</h1>
					<h1 class="text-center medium-text">sold per week</h1> -->
					<h1 class="text-center large-text">{{truck.tidbit}}</h1>
					<h1 class="text-center large-text" ng-show="!truck.tidbit">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
				</div>
				<div class="col-xs-12 col-md-4 featured-image">
					<img src="img/truck_food/{{truck.food_image}}" alt="" ng-show="truck.food_image">
				</div>
			</div>
			<div class="row featured-quote" ng-show="truck.tweet">
				<div class="col-xs-2 quote-mark text-right">
					&#8220;
				</div>
				<div class="col-xs-8 quote-body text-center">
					<div ng-bind-html="twitter_embed" class="twitter_quote">
					</div>
				</div>
				<div class="col-xs-2 quote-mark">
					&#8221;
				</div>
			</div>
		</div>
	</div>
	<div class="map-wrapper truck-map-wrapper" id="map" ng-show="showMap">
		<div class="btn-group truck-map-toggle">
			<label class="btn btn-primary col-xs-6" ng-model="truckMapToggle" uib-btn-radio="'Now'" ng-click="filterNow(markers)">Now</label>
			<label class="btn btn-primary col-xs-6" ng-model="truckMapToggle" uib-btn-radio="'All'" ng-click="filterAll()">All</label>
		</div>
		<leaflet id='map2' ng-show="showMap" lf-center="mapCenter" defaults="defaults" markers="markers"></leaflet>
	</div>
</div>