<nav class="navbar navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			</button>
			<a class="navbar-brand logo" href="#/">
				<img alt="brand-logo" src="img/sitelogo.png">
				<!-- 				<div class="brand-name"><span>CHEW</span>boston</div> -->
			</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="#overview" du-smooth-scroll du-scrollspy offset="60">Overview</a></li>
				<li><a href="#menu" du-smooth-scroll du-scrollspy offset="60" ng-show="menu[0].menu_item[0]">Menu</a></li>
				<li><a href="#schedule" du-smooth-scroll du-scrollspy offset="60" ng-show="schedule[0]">Schedule</a></li>
				<li><a href="#instagram" du-smooth-scroll du-scrollspy offset="60">Photos</a></li>
				<li><a href="#map" du-smooth-scroll du-scrollspy offset="60" ng-show="markers.length>0">Map</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id="container" du-scroll-container>
	<div class="truck-illustration" id="overview">
		<div class="container">
			<div class="large-truck">
				<img src="img/food_truck.svg" alt="">
			</div>
			<div class="truck-name-wrapper">
<!-- 				<img ng-src="img/logos/{{truck.logo}}" class="truck-name-logo" alt="" ng-show="truck.logo"> -->
				<div class="truck-name">{{truck.name}}</div>
				<div class="truck-description">
					{{truck.description}}
					<div ng-hide="truck.description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut lacinia libero. Cras orci lectus, sagittis quis nisi vitae, molestie lacinia est. Duis libero nisi, eleifend vitae felis eget, elementum placerat arcu. Vestibulum iaculis nisi eros, at cursus neque mattis et. Proin diam erat, viverra in risus sit amet, iaculis pulvinar purus. Integer auctor elit at mollis gravida. Morbi posuere urna et nisi euismod tincidunt. Vestibulum ac consequat arcu.</div>
				</div>
			</div>
			<div class="row truck-info">
				<div class="col-xs-12 col-sm-6 col-md-3 truck-info-section">
					<div class="info-type text-center">Ratings</div>
					<div class="info-image text-center">
						<i class="icon-yelp"></i>
					</div>
					<div class="info-type-content text-center">
<!-- 						2425 Reviews -->
						<span ng-repeat="n in [1, 2, 3, 4, 5]">	
							<i class="icon-star" ng-if="truck.yelp_rating>=n"></i>
							<i class="icon-star-half-empty" ng-if="truck.yelp_rating<n&&truck.yelp_rating>=(n-0.5)"></i>
							<i class="icon-star-empty" ng-if="truck.yelp_rating<(n-0.5)"></i>
						</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 truck-info-section">
					<div class="info-type text-center">Type</div>
					<div class="info-image text-center">
						<img src="img/hamburger.svg" alt="">
					</div>
					<div class="info-type-content text-center">{{truck.food_type}}</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 truck-info-section">
					<div class="info-type text-center">Popular Item</div>
					<div class="info-image text-center">
						<span class="glyphicon glyphicon-heart"></span>
					</div>
					<div class="info-type-content text-center">{{truck.popular_dish}}</div>
					<div class="info-type-content text-center" ng-show="!truck.popular_dish">Lorem ipsum</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 truck-info-section">
					<div class="info-type text-center">Current Location</div>
					<div class="info-image text-center">
						<span class="glyphicon glyphicon-map-marker"></span>
					</div>
					<div class="info-type-content text-center">Government Center</div>
				</div>
			</div>
		</div>
	</div>
	<div class="menu" ng-show="menu[0].menu_item[0]" id="menu">
		<div class="container">
			<h1 class="menu-title">Menu</h1>
			<h5>(Subject to change)</h5>
			<div class="menu-section" ng-repeat="amenu in menu">
				<div class="menu-type col-xs-12" ng-show="amenu.type_name">
					{{amenu.type_name}}
				</div>
				<div class="row">
					<div class="menu-list col-xs-12 col-md-6" ng-repeat="item in amenu.menu_item">
						<div class="price col-xs-2" ng-show="item.price">
							${{item.price}}
						</div>
						<div class="menu-item col-xs-10">
							{{item.name}}
						</div>
						<div class="menu-item-description" ng-class="{'col-xs-10' : item.price, 'col-xs-12': !item.price }">
							{{item.description}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="truck-schedule" id="schedule" ng-show="schedule[0]">
		<div class="container">
			<h1>Schedule</h1>
			<h5>(Subject to change)</h5>
			<div class="schedule col-md-10 col-md-offset-1">
				<div class="row schedule-list" ng-repeat="sche in schedule">
					<div class="col-xs-3 schedule-day">{{sche.day_format}}</div>
					<div class="col-xs-6 schedule-location"><span class="glyphicon glyphicon-map-marker"></span>{{sche.location}}</div>
					<div class="col-xs-3 schedule-time">{{sche.time_format}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="instagram" id="instagram">
<!-- 		<h1>Instagram</h1> -->
		<script src="//instansive.com/widget/js/instansive.js"></script><iframe ng-src="{{truck.instagram_iframe | trusted}}" ng-attr-id="{{truck.instagram_id}}" ng-attr-name="{{truck.instagram_id}}"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
	</div>
	<div class="featured-truck truck-page">
		<div class="container">
			<div class="row content-wrapper">
				<div class="col-xs-12 col-md-4 featured-text">
				<a ng-show="truck.twitter_widget_id" class="twitter-timeline" href="https://twitter.com/{{truck.twitter}}" data-widget-id="{{truck.twitter_widget_id}}" data-chrome="noheader nofooter noborders">Tweets by @{{truck.twitter}}</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
				<div class="col-xs-12 col-md-4 featured-highlight">
					<!-- <h1 class="text-center large-text">On average</h1>
					<h1 class="text-center large-number">780</h1>
					<h1 class="text-center large-text">Sandwiches</h1>
					<h1 class="text-center medium-text">sold per week</h1> -->
					<h1 class="text-center large-text">{{truck.tidbit}}</h1>
					<h1 class="text-center large-text" ng-show="!truck.tidbit">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
				</div>
				<div class="col-xs-12 col-md-4 featured-image">
					<img src="img/truck_food/{{truck.food_image}}" alt="" ng-show="truck.food_image">
				</div>
			</div>
			<div class="row featured-quote" ng-show="truck.tweet">
				<div class="col-xs-2 quote-mark text-right">
					&#8220;
				</div>
				<div class="col-xs-8 quote-body text-center">
					<div ng-bind-html="twitter_embed" class="twitter_quote">
					</div>
				</div>
				<div class="col-xs-2 quote-mark">
					&#8221;
				</div>
			</div>
		</div>
	</div>
	<div class="map-wrapper" id="map">
		<leaflet id='map2' ng-show="showMap" lf-center="mapCenter" defaults="defaults" markers="markers"></leaflet>
	</div>
</div>