<!DOCTYPE html>
<html ng-app="foodTruck">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Food Truck</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-controller="logoController">
	<div class="side-nav">
		<nav class="sticky-left-nav">
			<ul>
				<li><a href="#colors">Colors</a></li>
				<li><a href="#typography">Typography</a></li>
				<li><a href="#iconography">Iconography</a></li>
				<li><a href="#buttons-links">Buttons & Links</a></li>
				<li><a href="#lists">Lists</a></li>
				<li><a href="#forms">Forms</a></li>
				<li><a href="#logos">Food Truck Logos</a></li>
				<li><a href="#social-media">Social Media</a></li>
			</ul>
		</nav>
	</div>
	<div class="container styleguide-container">
		<div class="header">
			<h2>Style Guide</h2>
		</div>
		<section class="styleguide-section" id="colors">
			<h3>Colors</h3>
		</section>
		<section class="styleguide-section" id="typography">
			<h3>Typography</h3>
		</section>
		<section class="styleguide-section" id="iconography">
			<h3>Iconography</h3>
		</section>
		<section class="styleguide-section" id="buttons-links">
			<h3>Buttons & Links</h3>
		</section>
		<section class="styleguide-section" id="lists">
			<h3>Lists</h3>
		</section>
		<section class="styleguide-section" id="forms">
			<h3>Forms</h3>
		</section>
		<section class="styleguide-section" id="logos">
			<h3>Food Truck Logos</h3>
			<div class="row">
				<div class="col-xs-6 col-sm-4 col-md-3 logo-container" ng-repeat="logo in logos" ng-if="logo.Logo">
					<h5 class="text-center">{{logo.Name}}</h5>
					<img ng-src="img/logos/{{logo.Logo}}" />
				</div>
			</div>
		</section>
		<section class="styleguide-section" id="social-media">
			<h3>Social Media</h3>
			<div class="row socialmedia-section">
				<div class="col-xs-12 col-sm-6">
					<h4>Twitter</h4>
					<a class="twitter-timeline" href="https://twitter.com/bonme" data-widget-id="655552924739903488">Tweets by @bonme</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>
			<div class="row socialmedia-section">
				<div class="col-xs-12 col-sm-6">
					<h4>Facebook</h4>
					<div id="fb-root"></div>
					<script>(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1406413169617197";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>
					<div class="fb-page" data-href="https://www.facebook.com/cnrguys" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/cnrguys"><a href="https://www.facebook.com/cnrguys">Chicken &amp; Rice Guys</a></blockquote></div></div>
				</div>
			</div>
			<div class="row socialmedia-section">
				<div class="col-xs-12 col-sm-6">
					<h4>Instagram</h4>
					<script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/945c7b344a567bc418217fb59dd62dcbc64dcf18.html" id="instansive_945c7b344a" name="instansive_945c7b344a"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 90%; border: 0; overflow: hidden; float:left; "></iframe>
				</div>
			</div>
			<div class="row socialmedia-section">
				<div class="col-xs-12 col-sm-6">
					<h4>Yelp</h4>
					<div id='yelpwidget' class="yelp-widget"></div>
					<script>(function() { var s = document.createElement("script");s.async = true;s.onload = s.onreadystatechange = function(){getYelpWidget("mei-mei-street-kitchen-boston","300","RED","y","y","4");};s.src='http://chrisawren.com/widgets/yelp/yelpv2.js' ;var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);})();</script>
				</div>
			</div>
		</section>
	</div>
</body>
</html>